.menu a,
.submenu a,
.dropdown a {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 40px;
}

.menu a,
.dropdown a {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar {
  display: flex;
  height: 50px;
  position: sticky;
  background-color: var(--navbar-colour);
  justify-content: space-between;
  border-bottom: 3px solid var(--theme-border);
  z-index: 2;
}

.logo,
.account {
  border-radius: 50%;
  padding: 5px;
}

.logoContainer {
  margin: 0 10px;
  height: 40px;
  width: 40px;
}

.logoContainer .logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.timeFrame {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  position: relative;
}

.toggleTimeFramesBtn {
  height: 100%;
  border: none;
  background-color: transparent;
}

.hideTimeFramesIcon {
  border: none;
  background-color: transparent;
  color: white;
}

.showTimeFramesIcon {
  border: none;
  background-color: transparent;
  color: var(--selected);
}

.hideTimeFrames {
  display: none;
}

.account,
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  border: none;
  background-color: transparent;
  color: var(--button-hover);
}

.dropdownmenu {
  display: none;
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 0;
  width: max-content;
}

.active {
  display: block;
}

.account {
  margin: 0 10px;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 40.5px;
  right: -3px;
  width: auto;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: var(--navbar-colour);
  border: 3px solid var(--theme-border);
  border-radius: 7px;
  color: var(--button-hover);
}

.menu,
.submenu {
  display: flex;
  align-items: center;
}

.menu {
  justify-content: space-between;
}

.menu > a {
  padding: 0 20px;
}

.menu > a:hover,
.dropdown > a:hover {
  color: var(--subheader-colour-hover);
}

.pages {
  flex-grow: 1;
  text-align: center;
}

.menu .active,
.submenu .active {
  color: var(--selected);
}

.loggedin {
  color: var(--selected);
}
