.code-block {
    border-radius: 15px;
    padding: 10px;
    margin: 10px 50px;
    overflow-x: auto; /* Add scrollbars for long content */
    white-space: pre-wrap; /* Preserve line breaks */
    background-color: lightgrey;
    font-size: 1.1rem;
}

section {
    margin: 50px 0;
}

span {
    margin-right: 5px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

h1 {
    text-align: center;
    padding: 50px 0;
}

code {
    font-size: 1.2rem;
}