.displayView {
  display: flex;
  height: calc(100vh - 50px);
  justify-content: space-between;
}

.displayChartVertical {
  height: 100%;
  width: 100%;
}

.required {
  color: var(--bs-red);
}

.warning {
  font-size: 0.8rem;
  margin: -15px 0 5px 10px;
  text-align: left;
}
