.main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.logo {
  border-radius: 50%;
  width: 300px;
}

.title {
  margin: 20px auto;
}
